*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: $font-color;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
    height: auto;
}